<div class="container w-50 border rounded pt-3 pb-4 shadow">
  <%= form_with model: task, html: {class: 'd-flex flex-column'} do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-label' %>
    <%= f.label :details %>
    <%= f.text_field :details, class: 'form-label' %>
    <% if params[:action] == 'edit' %>
    <div class="d-flex gap-1 mb-3">
      <%= f.label :completed %>
      <%= f.check_box :completed %>
    </div>
    <% end %>
    <%= f.submit 'submit', class: 'btn btn-primary' %>
  <% end %>
</div>
